appdirs==1.4.3
basemap==1.0.7
conda==4.3.13
cycler==0.10.0
Django==1.10.5
django-bootstrap3==8.1.0
django-cors-headers==2.0.0
django-datatable==0.2.1
django-filter==1.0.1
django-registration==2.2
django-tables2==1.3.0
djangorestframework==3.5.3
enum34==1.1.6
functools32==3.2.3.post2
GeoIP==1.3.2
image==1.5.5
Markdown==2.6.7
matplotlib==2.0.0
netCDF4==1.2.7
numpy==1.12.0
olefile==0.44
packaging==16.8
Pillow==4.0.0
psycopg2==2.6.2
pycosat==0.6.1
pygeoip==0.3.2
pyparsing==2.2.0
python-dateutil==2.6.0
python-geoip==1.2
python-geoip-geolite2==2015.303
pytz==2016.10
requests==2.13.0
ruamel.ordereddict==0.4.9
ruamel.yaml==0.13.14
six==1.10.0
subprocess32==3.2.7
typing==3.5.3.0
yolk==0.4.3
