{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h4>Hello {{request.user.username}}!</h4>
            <p>Welcome to your N & A loganalyzer!</p>

<div id="naslovna_home">
    <h1>N & A</h1>
   <img src="{% static 'img/welcome.png' %}" alt="Hi!" />
</div>


<p> This is advanced and affordable web analytics solution for small and medium size websites. Analyze web site visitors’ behavior and get the complete website usage statistics in several easy steps! With N & A Log Analyzer website statistics and web analytics software you’ll know exactly where your visitors come from and how they move through your website.
This software will help you to attract more visitors, optimize your website and convert more visitors to satisfied customers</p>
        </div>
        <p style="text-align:center">Ovo je nginx log analyzer, jednostavna aplikacija pomoću koje možete vrlo lako i pregledno dobiti statistiku Važeg web servera. Nakon što predate Vaš nginx access.log te pokrenete parser, za Vaš log će se generirati statistika u okviru tablica i grafova. Naravno, u koliko su Vaši logovi do 1 GB, onda parsanje traje malo duže obzirom na trenutno slabe performanse servera i jako velike logove.</p>
    </div>


<div class="container">
    <img class="one" alt src="{% static 'img/login.png' %}" alt="Hits!">

    <img class="two" alt src="{% static 'img/Apache-Logo.png' %}" alt="Hit!" >
    <img class="tri" alt src="{% static 'img/images.png' %}" alt="Hitss!">

    <img class="one" alt src="{% static 'img/graf1.png' %}" alt="Hits!">

    <img class="two" alt src="{% static 'img/graf2.png' %}" alt="Hit!" >
    <img class="tri" alt src="{% static 'img/graf3.png' %}" alt="Hitss!">
</div>

     <p>Neke od bitnih stavki i funkcionalnosti koje valja napomenuti su:
      <ul>
      	<li>Graf koji prikazuje količinu generiranog prometa, kao server response</li>
      	<li>Graf koji pokazuje broj requesta u jedinici vremena</li>
      	<li>Graf koji prikazuje status kodove u jedinici vremena</li>
      	<li>Tablica koja prikazuje broj request-a po pojedinom klijentu</li>
      	<li>Tablica koja prikazuje broj request-a po pojedinom content-u </li>
      	<li>Tablica koja prikazuje broj requesta u jedinici vremena</li>
      
      </ul>

      </p>

   
</div>
{% endblock %}