{% load staticfiles %}
<!DOCTYPE HTML>
<!--
    All right reserved. 
    Designed by N & A team
    Author: Ivan Zilic
    
    
-->
<html>
    <head>
        <title>N & A</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />       
        <link rel="stylesheet" href="{% static 'css/assets/css/main.css' %}">       
        <noscript><link rel="stylesheet" href="{% static 'css/assets/css/noscript.css' %}"></noscript>

    </head>
    <body>
        <!-- Wrapper -->
            <div id="wrapper">
 
                <!-- Header -->
                    <header id="header">
                        <div class="logo">
                            <span class="icon fa-diamond"></span>
                        </div>
                        <div class="content">
                            <div class="inner">
                                <h1>Nginx & apache log analyzer</h1>
                                <h1>N & A</h1>
                                <h3>N&A is a fast and powerful access log analyzer. It will give you information about your site's visitors: activity statistics, accessed files, paths through the site, information about referring pages and more. The program produces easy-to-read reports that include both text information (tables) and charts.<br /> View the N&A sample report to get the general idea of the variety of information about your site's usage it can provide.</h3>
                            </div>
                                                 
                           <form action="/"><input type="submit" value="Exit" /></form>             
             
                        </div>
                        <nav> 
                        <p>Manage & Graphs dashboard</p>                        
                            <ul>
                            
                                <li><a href="/upload">Upload</a></li>
                                <li><a href="/nginxgraph1">Traffic</a></li>
                                <li><a href="/nginxgraph2/">Request</a></li>
                                <li><a href="/procesing/#">Start</a></li>
                                <li><a href="/nginxgraph3/">Status</a></li>
                                <li><a href="/nginxgraph4/">Count</a></li>               
                                
                               
                                                    
                            </ul>               
                        </nav>
                        <nav>  
                        <p>Tables dashboard</p>                       
                            <ul>                         
              
                                <li><a href="/table/#">Client</a></li>
                                <li><a href="/table2/#">Content</a></li>     
                                <li><a href="/table3/#">Time</a></li>
                                <li><a href="/table4/#">Specific</a></li>
                            </ul>               
                        </nav>
                        
                    </header>


                <!-- Footer -->
                    <footer id="footer">
                        <p class="copyright">&copy; All right reserved. Designed by N & A team: <strong>N & A.</strong></p>
                    </footer>

            </div>

        <!-- BG -->
            <div id="bg"></div>

         <!-- Scripts -->
        <link rel="stylesheet" href="{% static 'css/assets/js/jquery.min.js' %}">
        <link rel="stylesheet" href="{% static 'css/assets/js/skel.min.js' %}">
        <link rel="stylesheet" href="{% static 'css/assets/js/util.js' %}">
        <link rel="stylesheet" href="{% static 'css/assets/js/main.js' %}">

    </body>
</html>








