{% load staticfiles %}


<!DOCTYPE html>
<html>
    <head>
        <title>nginx parser</title>
        <meta charset="utf-8">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" charset="utf8" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" charset="utf8" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap.min.css">    
        <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>   
        <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
        <link rel="stylesheet" href="{% static 'css/assets/css/mainn.css' %}">       
        <noscript><link rel="stylesheet" href="{% static 'css/assets/css/noscript.css' %}"></noscript>

    </head>
    <body>
     <!-- Wrapper -->
    <div id="wrapper">
 
            <!-- Main -->
      <div id="main">
        <article id="intro" class="active" style="display: block;">
      <form action="/index"><input type="submit" value="Home" /></form>
    <h2 class="major">Server response graph</h2>
<style type="text/css">
  .boxed {

  border: 2px solid brown;
  border-radius: 8px;
  height: 60px;
  width: 20%;
  background-color: white;   
  text-align: center;
  color: black;
  display: inline-block;

  margin-left:5px;
  margin-top:5px;

}
.parent {
  
    padding: 10px;


}

</style>

<div class="parent">
<div class="boxed">
  <p>Total Requests<br /> 4564563</p>
</div>
<div class="boxed">
  <p>Valid Requests<br /> 4564563</p>
</div>
<div class="boxed">
  <p>Failed Requests<br /> 4564563</p>
</div>
<div class="boxed">
  <p> Unique Visitors<br /> 4564563</p>
</div>
<div class="boxed">
  <p>Unique Files<br /> 4564563</p>
</div>
<div class="boxed">
  <p>Referrers<br /> 4564563</p>
</div>
<div class="boxed">
  <p>Unique 404<br /> 4564563</p>
</div>
<div class="boxed">
  <p>Log Size<br /> 4564563</p>
</div>
<div class="boxed">
  <p>Bandwidth<br /> 4564563</p>
</div>
<div class="boxed">
  <p>Static Files<br /> 4564563</p>
</div>
<div class="boxed">
  <p>Status code<br /> 4564563</p>
</div>
<div class="boxed">
  <p>Proc. Time<br /> 4564563</p>
</div>
</div>

</article>

</div>
</div>
   <!-- BG -->
            <div id="bg"></div>

    </body>

</html>
