{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h4>Hello {{request.user.username}}!</h4>
            <p>Welcome to your N & A loganalyzer!</p>

<div id="naslovna_home">
    <h1>N & A</h1>
  
</div>



</div>
<p> This is advanced and affordable web analytics solution for small and medium size websites. Analyze web site visitors’ behavior and get the complete website usage statistics in several easy steps! With N & A Log Analyzer website statistics and web analytics software you’ll know exactly where your visitors come from and how they move through your website.This software will help you to attract more visitors, optimize your website and convert more visitors to satisfied customers</p>
</br>

<div class="container">
    <img class="one" alt src="{% static 'img/login.png' %}" alt="Hits!">

    <img class="two" alt src="{% static 'img/Apache-Logo.png' %}" alt="Hit!" >
    <img class="tri" alt src="{% static 'img/images.png' %}" alt="Hitss!">
</div>
<p> Web analytics is the measurement, collection, analysis and reporting of web data for purposes of understanding and optimizing web usage. However, Web analytics is not just a process for measuring web traffic but can be used as a tool for business and market research, and to assess and improve the effectiveness of a website. 
Web analytics applications can also help companies measure the results of traditional print or broadcast advertising campaigns. It helps one to estimate how traffic to a website changes after the launch of a new advertising campaign. </br>Web analytics provides information about the number of visitors to a website and the number of page views. It helps gauge traffic and popularity trends which is useful for market research.</br></br>Web servers record some of their transactions in a log file. It was soon realized that these log files could be read by a program to provide data on the popularity of the website. Thus arose web log analysis software. </p>
<h4><strong>Web analytics technologies</strong></h4>
<p>There are at least two categories of web analytics; off-site and on-site web analytics.
<ul>

<li>Off-site web analytics refers to web measurement and analysis regardless of whether you own or maintain a website.</li></br>
<li>On-site web analytics, the most common, measure a visitor's behavior once on your website. This includes its drivers and conversions; for example, the degree to which different landing pages are associated with online purchases. On-site web analytics measures the performance of your website in a commercial context. This data is typically compared against key performance indicators for performance, and used to improve a website or marketing campaign's audience response. Google Analytics and Adobe Analytics are the most widely used on-site web analytics service; although new tools are emerging that provide additional layers of information, including heat maps and session replay.</li></br>
<li>Historically, web analytics has been used to refer to on-site visitor measurement. However, this meaning has become blurred, mainly because vendors are producing tools that span both categories. Many different vendors provide on-site web analytics software and services. There are two main technical ways of collecting the data. The first and traditional method, server log file analysis, reads the logfiles in which the web server records file requests by browsers. The second method, page tagging, uses JavaScript embedded in the webpage to make image requests to a third-party analytics-dedicated server, whenever a webpage is rendered by a web browser or, if desired, when a mouse click occurs. Both collect data that can be processed to produce web traffic reports.</li></br>
Web traffic is the amount of data sent and received by visitors to a web site. This necessarily does not include the traffic generated by bots. Since the mid-1990s, web traffic has been the largest portion of Internet traffic.This is determined by the number of visitors and the number of pages they visit. Sites monitor the incoming and outgoing traffic to see which parts or pages of their site are popular and if there are any apparent trends, such as one specific page being viewed mostly by people in a particular country. There are many ways to monitor this traffic and the gathered data is used to help structure sites, highlight security problems or indicate a potential lack of bandwidth.</ul></br>
<strong>Not all web traffic is welcomed</strong>. Some companies offer advertising schemes that, in return for increased web traffic (visitors), pay for screen space on the site. Sites also often aim to increase their web traffic through inclusion on search engines and through search engine optimization.
</br></p>

    </div>



<div class="container">
    <img class="four" alt src="{% static 'img/graf1.png' %}" alt="Hits!">

    <img class="five" alt src="{% static 'img/graf2.png' %}" alt="Hit!" >
    <img class="six" alt src="{% static 'img/graf3.png' %}" alt="Hitss!">
</div></br></br>
<strong>Measurement</strong></br></br>
Web traffic is measured to see the popularity of web sites and individual pages or sections within a site. This can be done by viewing the traffic statistics found in the web server log file, an automatically generated list of all the pages served. A hit is generated when any file is served. The page itself is considered a file, but images are also files, thus a page with 5 images could generate 6 hits (the 5 images and the page itself). A page view is generated when a visitor requests any page within the web site – a visitor will always generate at least one page view (the main page) but could generate many more. Tracking applications external to the web site can record traffic by inserting a small piece of HTML code in every page of the web site</br>
Web traffic is also sometimes measured by packet sniffing and thus gaining random samples of traffic data from which to extrapolate information about web traffic as a whole across total Internet usage.
The following types of information are often collated when monitoring web traffic:</br>

<ul>
<li>The number of visitors.</li>
<li>The average number of page views per visitor – a high number would indicate that the average visitors go deep inside the site, possibly because they like it or find it useful.</li>
<li>Average visit duration – the total length of a user's visit. As a rule the more time they spend the more they're interested in your company and are more prone to contact.</li>
<li>Average page duration – how long a page is viewed for. The more pages viewed, the better it is for your company.</li>
<li>Domain classes – all levels of the IP Addressing information required to deliver Webpages and content.</li>
<li>Busy times – the most popular viewing time of the site would show when would be the best time to do promotional campaigns and when would be the most ideal to perform maintenance</li>
<li>Most requested pages – the most popular pages</li>
<li>Most requested entry pages – the entry page is the first page viewed by a visitor and shows which are the pages most attracting visitors</li>
<li>Most requested exit pages – the most requested exit pages could help find bad pages, broken links or the exit pages may have a popular external link</li>
<li>Top paths – a path is the sequence of pages viewed by visitors from entry to exit, with the top paths identifying the way most customers go through the site</li>
<li>Referrers; The host can track the (apparent) source of the links and determine which sites are generating the most traffic for a particular page.</li>
</ul>
</p>
</br>

     <p>Some features of N & A log analyzer:
      <ul>
        <li>SERVER RESPONSE GRAPH</li>
        <li>GRAPH WITH REQUESTS GENERATED BY A CLIENT</li>
        <li>SPECIFIC STATUS CODE PER HOUR GRAPH</li>
        <li>PIE CHART STATUS CODE </li>
        <li>TABLE WITH CLIENT REQUEST</li>
        <li>TABLE WITH CLIENT REQUEST FOR SPECIFIC CONTENT</li>
        <li>TABLE WITH NUMBER OF REQUEST PER MINUTE</li>
        <li>TABLE WITH NUMBER OF CLIENT REQUEST PER SPECIFIC CONTENT</li>
        <li>DOWNLOAD SEARCH TABLES</li>
      </ul>

      </p>

   
</div>
{% endblock %}